/* adapted from https://www.jquery-az.com/bootstrap-button-9-demos-of-custom-color-size-dropdown-navbar-and-more/ */
.btn-clue {
    /* background-color: rgb(189, 0, 0); */
    color: #FFF;
    /* border-color: rgb(189, 0, 0); */
}

.btn-clue:hover,
.btn-clue:focus,
.btn-clue:active,
.btn-clue.active,
.btn-clue.visited,
.open .dropdown-toggle.btn-clue {
    /* background-color: rgb(99, 0, 0); */
    color: #FFF;
    /* border-color: rgb(99, 0, 0); */
}

.btn-strong {
    background-color: rgb(9, 0, 136);
    color: #FFF;
    border-color: rgb(9, 0, 136);
}

.btn-strong:hover,
.btn-strong:focus,
.btn-strong:active,
.btn-strong.active,
.open .dropdown-toggle.btn-strong {
    background-color: rgb(39, 0, 62);
    color: #FFF;
    border-color: rgb(39, 0, 62);
}

.btn-daylio {
    background-color: rgb(86, 0, 94);
    color: #FFF;
    border-color: rgb(86, 0, 94);
}

.btn-daylio:hover,
.btn-daylio:focus,
.btn-daylio:active,
.btn-daylio.active,
.open .dropdown-toggle.btn-daylio {
    background-color: rgb(86, 0, 94);
    color: #FFF;
    border-color:  rgb(86, 0, 94);
}
/* end adapted from https://www.jquery-az.com/bootstrap-button-9-demos-of-custom-color-size-dropdown-navbar-and-more/ */

.source-list-button {
    margin-bottom: .5rem;
}