<!DOCTYPE html>
<html>

<head>
    <meta name="author" content="Josefine S. Busch">
    <meta name="version" content="0.1">
    <meta name="title" content="My Data Mixer">
    <!-- Required by lighthouse for pwa audit -->
    <meta name="theme-color" content="#2F3BA2">
    <!-- Required for Bootstrap -->
    <meta charset="utf-8">
    <!-- This tag is used for the responsive behavior of bootstrap -->
    <!-- width= device-width ==> page widht == device width-->
    <!-- zoom level at page load-->
    <!-- Do not shrink the page to fit the device width-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Crossorigin: stylesheet is fetched using a Cross Origin Ressource Sharing Request. Anonoymous: no credentials are sent-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="customButtonStyling.css">

    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- Required by lighthouse for pwa audit -->
    <link rel="apple-touch-icon" href="images/logo_192x192.png">

    <!-- Link to Web App Manifest -->
    <!-- as described in https://codelabs.developers.google.com/codelabs/your-first-pwapp/#3 by Pete LePage/Google Developers accessed 11/13/2019 -->
    <link rel="manifest" href="manifest.json">

    <!-- Vue JavaScript -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Plotly Graphics Library -->
    <!-- CDN Link because (content delivery networks) higher availability and performance -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>My Data Mixer</title>

</head>

<body>
    <!-- Vue root component -->
    <div id="app">
        <!-- Bootstrap class to make this element span the whole width of the viewport -->
        <div class="container-fluid main-content">
            <h1>{{title}}</h1>

            <!-- <button v-bind:class="getCssClass('clueData')" v-on:click="getCssClass('clueData')">test</button> -->

            <template v-if="current_view === 'importView'">
                <!-- adapted from https://vuejs.org/v2/guide/ accessed on 11/17/2019 -->
                <!-- v-for iterate trough an array (defined in vue app component) and create new import-button component for each item in the list -->
                <!-- v-bind:import_source passes the item as a property to the component. import_source is defined as a property in the component -->
                <!-- v-bind:key is not mandatory. It is used by vue.js for example to reorder elements (https://vuejs.org/v2/guide/list.html#Maintaining-State accessed 11/17/2019)-->
                <!-- inline-template adapted from https://vuejsdevelopers.com/2017/03/24/vue-js-component-templates/ accessed on 11/17/2019 -->
                <import_component v-for="item in import_sources" v-bind:import_source="item" v-bind:key="item.labelid"
                    inline-template>
                    <div>
                        <!-- v-on:change listens to "change" event and calls importFile method defined in component import-button -->
                        <label v-bind:for="import_source.labelid" v-bind:class="import_source.cssclass"
                            class="btn btn-lg btn-block">{{ import_source.labeltext }}</label>
                        <input type='file' v-bind:name="import_source.labelid" v-bind:id="import_source.labelid"
                            v-on:change="importFile(import_source.labelid)">
                    </div>
                </import_component>
                <!-- end adapted from https://vuejs.org/v2/guide/ accessed on 11/17/2019 -->
                <create_graph_component></create_graph_component>
            </template>
            <template v-else-if="current_view ==='graphView'">
                <template v-if="graphs.length === 0">
                    <p>No data is imported yet</p>
                </template>
                <template v-else>
                    <graphcard inline-template v-for="item in graphs" v-bind:graph="item" v-bind:key="item.graphid">
                        <!-- https://getbootstrap.com/docs/4.0/components/card/ -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{graph.title}}</h5>
                                <div v-bind:id='graph.graphid' style="width:100%;"></div>
                                <!-- <svg v-bind:id='graph.graphid' style='width: 100%;'></svg> -->
                            </div>
                        </div>
                    </graphcard>
                </template>
            </template>
            <template v-else-if="current_view ==='settingsView'">
                <settings_component inline-template>
                    <div class="col">
                        <button type="button" class="btn btn-outline-danger btn-lg btn-block" v-on:click='deleteData()'>Delete Imported Data</button>
                        <button type="button" class="btn btn-outline-danger btn-lg btn-block" v-on:click='deleteGraphs()'>Delete Graphs</button>
                        <button type="button" class="btn btn-danger btn-lg btn-block" v-on:click='deleteAllData()'>Delete Everything</button>
                    </div>
                </settings_component>
                <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Change Colors</button> -->
            </template>
            <template v-else-if="current_view ==='aboutView'">
                <p>This app was developed by Josefine S. Busch.</p>
                <p>The app stores your imported data as data objects and graphs.</p>
                <p>You can delete all your imported data and all graphs in settings.</p>
            </template>
            <template v-else-if="current_view ==='listView'">
                <template v-if="imported_data.length === 0">
                    <p>No data is imported yet</p>
                </template>
                <template v-else>
                    <datalist_component inline-template v-for="item in imported_data"
                        v-bind:imported_data_structure="item" v-bind:key="item.id">
                        <div>
                            <button type="button" class="btn btn-lg btn-block dropdown-toggle source-list-button"
                                v-bind:class="getCssClass(imported_data_structure.id)" v-on:click="showCategories">
                                {{imported_data_structure.labeltext}} </button>
                            <div class="form-check" style="display: none;"
                                v-bind:id="imported_data_structure.id+'Categories'">
                                <div v-for="category in imported_data_structure.categories">
                                    <input class="form-check-input" type="checkbox" value="category"
                                        v-bind:id="category">
                                    <label class="form-check-label" v-bind:for="category">
                                        {{category}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </datalist_component>
                </template>
            </template>
            <div class="row">
                <navigation_component v-for="item in views" v-bind:view="item" v-bind:key="item.viewid">
                </navigation_component>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <!-- My JavaScript -->
    <script type="text/javascript" src="dataSource.js"></script>
    <script type="text/javascript" src="dataStructrue.js"></script>
    <script type="text/javascript" src="dataConverter.js"></script>
    <script type="text/javascript" src="graphTrace.js"></script>
    <script type="text/javascript" src="graph.js"></script>
    <script type="text/javascript" src="graphCreator.js"></script>
    <script type="text/javascript" src="app.js"></script>

</body>

</html>